<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Редактировать книгу{% else %}Добавить новую книгу{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Редактировать книгу{% else %}Добавить новую книгу{% endif %}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>

    <a href="{% url 'book_list' %}">Назад к списку</a>
</body>
</html>
